/* SKILLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    padding: 20px;
}

.skill-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-8px);
    border: 1px solid #a855f7;
}

/* CONTACT */
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 28px;
}

.contact-icons a {
    color: var(--accent);
    transition: 0.3s;
}

.contact-icons a:hover {
    transform: scale(1.2);
    color: #ef4444;
}